@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.IDECard{
  background-color: rgb(14, 0, 36);
  border-radius: 26px;
  padding: 26px;
  width: fit-content;
  color: white;
  text-align: start;
  display: inline-block;
  box-shadow: 4px 4px 12px 4px rgba(0, 0, 0, 0.26);
}

.hero {
  background-image: linear-gradient(to bottom right, rgba(238, 145, 241, 0.527), rgb(255, 255, 255), rgb(243, 245, 142), rgb(255, 255, 255), rgb(245, 236, 120));
}

.modalCard {
  background-color: coral;
  position: absolute;
  top: 50%;
  left: 50%;
  border: '2px solid #000';
  box-shadow: 24;
  padding: 4;
}

.skills-section{
  align-items: center;
}